*{
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.content-header, .main, .container, .section_four, .section_two_info{
    width: 1500px;
    margin: auto;
}

/********** HEADER **********/

header{
    display: flex;
    align-items: center;
}

.logo{
    width: 22%;
    margin-left: 1px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 50px;
}
nav ul li a{
    text-decoration: none;
    color: #282828;
}
    /* ------ Animation linea footer link ------*/
    .nav a {
        background-size: 0% 2px;
    }
    .nav a:hover {
        background-image: linear-gradient(#002bff, #002bff);
        background-repeat: no-repeat;
        background-position: 100% 0%;
        background-size: 100% 3px;
        transition: 0.5s;
    }

/* ------ Manage Header ------*/

.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    margin: auto;
}

/* ------ Section Intro ------*/

.section_intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 129px;
    flex-wrap: wrap;
    margin: 0 80px 0 0;
}

.section_intro h1{
    color: #002bff;
    font-size: 58px;
    margin-bottom: 28px;
}

.section_intro_text{
    width: 60%;
}

.section_intro p{
    font-size: 21px;
    color: #282828;
}

.img_intro{
    width: 40%;
}

.img_intro img{
    width: 100%;
}

/********** Section two **********/

.section_two{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    margin-top: 40px;
}

.section_two_info{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.chico_rombo{
    width: 30%;
    
}

.chico_rombo img{
    width: 100%;
}

.info_section_two h2{
    font-size: 50px;
    color: #002bff;
    justify-content: center;
    margin: 0 100px 0 50px;
}

.info_section_two p{
    font-size: 21px;
    color: #282828;
    display: inline-block;
    margin: 0 100px 10px 50px;
}

/********** Section three **********/

.main_container{
    width: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.title_main_container{
    font-size: 30px;
    color: #002bff;
    display: flex;
    justify-content: center;

}

.title_main_container h2{
    font-size: 24px;
    color: #002bff;
    text-align: center;
    justify-content: center;
}

.imagen1{
    width: 33%;
    margin-top: 5%;
    border-radius: 15px;
}

.imagen1 img{
width: 100%;
}

.first_container_text_left{
    display: flex;
    align-items: center;
}

.first_text_container{
    font-size: 30px;
    margin-bottom: 20px;
    color: #002bff;
    
}

.first_text_container span{
    font-size: 21px;
    color: #282828;
    text-decoration: none;
    font-weight: normal;
    line-height: normal;
    display: flex;
    flex-wrap: wrap;
    margin-right: 120px;
    
}

.imagen2{
    width: 35%;
    margin-top: 5%;
    border-radius: 15px;
}

.imagen2 img{
width: 100%;
}

.second_text_container{
    font-size: 30px;
    margin-bottom: 20px;
    color: #002bff;
    margin-left: 100px;
}

.second_text_container span{
    font-size: 21px;
    color: #282828;
    text-decoration: none;
    font-weight: normal;
    line-height: normal;
    display: flex;
    flex-wrap: wrap;
}

/********** Section four **********/

.section_four{
    display: flex;
    align-items: center;
    text-align: center;
}

.section_four_text p{
    width: 70%;
    font-size: 23px;
}

.two{
    color: #002bff;
}

/********** Form **********/


#contact_us{
    margin: 50px;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
}

h2.title{
    color: #002bff;
    display: flex;
    justify-content: center;
}

.form{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    padding: 30px 30px;
    background-color: #f7f8f9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gainsboro ;
}

.input{
    background: white;
    border: 0;
    outline: none;
    border: 1px solid gray;
    padding: 20px 50px;
}

.input::placeholder{
    color: #7082a2;

}

form input[type="text"],
form input[type="email"],
form input[type="number"],
select[name="states"]{
    color: #7082a2;
	width:400px;
	padding:20px 20px;
	border:1px solid #f6f6f6;
	border-radius:5px;
	background-color:#ffffff;
	margin:8px 0;
	display:inline-block;
    
}


form input[type="submit"]{
	padding:8px 16px;
	margin-top:32px;
	border:1px solid ;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#002bff;
} 

form input[type="submit"]:hover{
	cursor:pointer;
    background: black ;
}


/********** Footer **********/


.footer{
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color: #efefef;
    color: #002bff;
    font-size: 20px;
}


/* **************************************** Laptop ****************************************/
@media (min-width: 1024px) and (max-width: 1280px){
    .content-header, .main, .container, .section_four, .section_two_info{
        width: 90%;
    }

    body p{
        font-size: 17;
    }

    .section_intro h1{
        margin-top: 50px;
        font-size: 40px;
    }

    .section_intro p{
        font-size: 17px;
        color: #282828;
        margin-bottom: 50px;
    }

/********** Section two **********/

.chico_rombo{
    width: 40%;
}

.chico_rombo img{
    width: 100%;
}

.info_section_two h2{
    font-size: 30px;
}

.info_section_two p{
    font-size: 17px;
}

/********** Section three **********/

.main_container{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title_main_container{
    font-size: 30px;
    margin-bottom: 50px;
}

.title_main_container h2{
    font-size: 20px;
    color: #002bff;
    text-align: center;
    justify-content: center;
}

.imagen1{
    width: 40%;
    margin-top: 5%;
    margin-bottom: 50px;
}

.imagen1 img{
width: 100%;
}

.first_container_text_left{
    display: flex;
    align-items: center;
}

.first_text_container{
    font-size: 30px;
    margin-bottom: 20px;
    color: #002bff;
    
}

.first_text_container span{
    font-size: 17px;
    margin-right: 50px;
}

.imagen2{
    width: 40%;
    margin-top: 5%;
    margin-bottom: 50px;
}

.imagen2 img{
width: 100%;
}

.second_text_container{
    font-size: 30px;
}

.second_text_container span{
    font-size: 17px;
}

}


@media (max-width: 800px){

    .content-header, .main, .container, .section_four, .section_two_info{
        width: 80%;
    }

    nav ul{
        font-size: 12px;
    }

    nav ul li{
        margin: 0 30px;
    }

    .section_intro h1{
        margin-top: 20px;
        font-size: 30px;
    }

    .section_intro p{
        font-size: 13px;
        margin-right: 10px;
    }

    .img_intro{
        width: 40%;
    }

    /********** Section two **********/

.section_two_info{
    margin-left: 50px;
    margin-top: 10px;
}

.info_section_two{
    margin: 0 30px 0;
}

.info_section_two h2{
    font-size: 18px;
    margin: 0;
}

.info_section_two p{
    font-size: 13px;
    margin: 0;
    margin-bottom: 10px;
}



/********** Section three **********/

.main_container{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.title_main_container{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.imagen1{
    width: 45%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.first_text_container{
    margin-bottom: 20px;
    align-items: center;
    font-size: 18px;
    margin-top: 30px;
}

.first_text_container span{
    font-size: 13px;
    margin-right: 50px;
}

.imagen2{
    justify-content: center;
    align-items: center;
    width: 45%;
    border-radius: 5px;
}

.second_text_container{
    margin: 0 20px;
    
    align-items: center;
    font-size: 18px;
}

.second_text_container span{
    align-items: center;
    font-size: 13px;
}

.section_four{
    width: 100%;
}

.section_four_text p{
    font-size: 15px;
}

.footer{
    font-size: 15px;
}
}

@media (max-width: 767px){

    .content-header, .main, .container, .section_four, .section_two_info{
        width: 90%;
    }

    nav ul{
        font-size: 12px;
    }

    nav ul li{
        margin: 0 20px;
    }

    .section_intro h1{
        margin-top: 20px;
        font-size: 30px;
    }

    .section_intro p{
        font-size: 13px;
        margin-right: 10px;
    }

    .img_intro{
        width: 40%;
    }

    /********** Section two **********/

.section_two_info{
    margin-left: 50px;
    margin-top: 10px;
}

.info_section_two{
    margin: 0 30px 0;
}

.info_section_two h2{
    font-size: 18px;
    margin: 0;
}

.info_section_two p{
    font-size: 13px;
    margin: 0;
    margin-bottom: 10px;
}



/********** Section three **********/

.main_container{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.title_main_container{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.imagen1{
    width: 45%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.first_text_container{
    margin-bottom: 20px;
    align-items: center;
    font-size: 18px;
    margin-top: 30px;
}

.first_text_container span{
    font-size: 13px;
    margin-right: 50px;
}

.imagen2{
    justify-content: center;
    align-items: center;
    width: 45%;
    border-radius: 5px;
}

.second_text_container{
    margin: 0 20px;
    
    align-items: center;
    font-size: 18px;
}

.second_text_container span{
    align-items: center;
    font-size: 13px;
}


.section_four{
    width: 100%;
}

.section_four_text p{
    font-size: 15px;
}

.footer{
    font-size: 15px;
}
}

@media (max-width: 575px){

    .content-header, .main, .container, .section_four, .section_two_info{
        width: 80%;
    }

    /********** section Intro **********/

.section_intro{
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.section_intro h1{
    font-size: 25px;
    margin-bottom: 20px;
}

.section_intro_text{
    width: 100%;
}

.section_intro p{
    font-size: 14px;
    margin-bottom: 10px;
}

.img_intro{
    width: 70%;
}

/********** Section two **********/

.section_two{
    margin-top: 5px;
}

.section_two_info{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 20px;
}

.chico_rombo{
    width: 60%;
    margin-top: 20px;
}

.info_section_two h2{
    font-size: 25px;
    margin: 0;
}

.info_section_two p{
    font-size: 14px;
    display: inline-block;
    margin: 0;
}

/********** Section three **********/

.main_container{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.title_main_container{
    font-size: 20px;
    margin-bottom: 40px;
}

.title_main_container h2{
    font-size: 16px;
}

.first_text_container{
    font-size: 14px;
    margin: 0;
}

.imagen1{
    width: 60%;
    margin-top: 5%;
    border-radius: 2px;
}

.first_container_text_left:nth-child(2n){
    flex-direction: column;
}

.first_container_text_left{
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 30px;
}

.first_text_container span{
    font-size: 12px;
    margin: 0;
    
}

.imagen2{
    width: 60%;
    margin-top: 5%;
    border-radius: 2px;
}

.second_text_container{
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.second_text_container span{
    font-size: 12px;
}

/********** Section four **********/

.section_four{
    width: 100%;
}

.section_four_text p{
    font-size: 13px;
}

/********** Form **********/

#contact_us{
    width: 70%;
    margin: 0;
    margin-top: 15px;
} 

.form{
    width: 100%;
    margin: 0;
    padding: 15px;
    margin-bottom: 20px;
    
}

form input[type="text"],
form input[type="email"],
form input[type="number"]{
    font-size: 12px;
}
}

/* *********************************************+  Mobile ****************************************/
/* **************************************** Iphone 8, 7, 6S, 6****************************************/

@media (max-width: 375px){
    .main, .container, .section_four, .section_two_info{
        width: 70%;
    }

    body p{
        font-size: 12px;
        color: #282828;
    }

/********** HEADER **********/


.content-header{
    flex-direction: column;
}

.logo{
    width: 45%;
    margin: 0 auto;
    margin-bottom: 20px;
}

nav ul{
    justify-content: space-around;
}

.list_nav a{
    font-size: 12px ;
    margin: 0;
}

nav ul li{
    margin: 0 30px;
}

/********** section Intro **********/

.section_intro{
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.section_intro h1{
    font-size: 25px;
    margin-bottom: 20px;
}

.section_intro_text{
    width: 100%;
}

.section_intro p{
    font-size: 12px;
    margin-bottom: 10px;
}

.img_intro{
    width: 90%;
}

/********** Section two **********/

.section_two{
    margin-top: 5px;
}

.section_two_info{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 20px;
}

.chico_rombo{
    width: 80%;
    margin-top: 20px;
}

.info_section_two h2{
    font-size: 25px;
    margin: 0;
}

.info_section_two p{
    font-size: 12px;
    display: inline-block;
    margin: 0;
}


/********** Section three **********/

.main_container{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.title_main_container{
    font-size: 20px;
    margin-bottom: 40px;
}

.title_main_container h2{
    font-size: 16px;
}

.first_text_container{
    font-size: 15px;
    margin: 0;
}

.imagen1{
    width: 60%;
    margin-top: 5%;
    border-radius: 2px;
}

.first_container_text_left:nth-child(2n){
    flex-direction: column;
}

.first_container_text_left{
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 30px;
}

.first_text_container span{
    font-size: 12px;
    margin: 0;
    
}

.imagen2{
    width: 60%;
    margin-top: 5%;
    border-radius: 2px;
}

.second_text_container{
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.second_text_container span{
    font-size: 12px;
}

/********** Section four **********/

.section_four{
    width: 100%;
}

.section_four_text p{
    font-size: 13px;
}

/********** Form **********/

#contact_us{
    width: 100%;
    margin: 0;
    margin-top: 15px;
} 

.form{
    width: 100%;
    margin: 0;
    padding: 15px;
    margin-bottom: 20px;
    
}

form input[type="text"],
form input[type="email"],
form input[type="number"]{
    font-size: 12px;
}


/* **************************************** Iphone 5/SE ****************************************/
@media (max-width: 320px){

    nav ul li{
        margin: 0 15px;
    }

    /********** Section three **********/

    .main_container{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .title_main_container{
        font-size: 16px;
        margin-bottom: 20px;
    }

    .title_main_container h2{
        font-size: 12px;
    }

    /********** Section four **********/

    .section_four{
        width: 100%;
    }

    .section_four_text p{
        font-size: 12px;
    }

}

}
