*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

html{
    scroll-behavior: smooth;
    
}

/********** HEADER **********/

header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.logo{
    max-width: 50%;
    margin-left: 50px;
}

nav ul{
    display: flex;
    list-style: none;
    color: rgb(38, 39, 44);
    margin: 30px;
    padding-left: 100px;
}

ul li, a{
    margin: 30px;
    padding-left: 50px;
    text-decoration: none;
    color: rgb(38, 39, 44);
}

/********** Body **********/

body{
    background-repeat: no-repeat, no-repeat;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

/********** Section Intro **********/


#section_intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 0 ;
    margin-bottom: 30px;
}

h1.title_section_intro{
    font-size: 60px;
    margin-bottom: 20px;
    color: #002bff;
    margin-left: 50px;
    
}

p.text_section_intro{
    font-size: 23px;
    margin-bottom: 30px;
    color: #282828;
    margin-left: 50px;
    margin-bottom: 0 15px;
    display: inline-block;
}

.imagen_principal{
    max-width: 600px;
    margin: 0% 8%;
    border:2px solid #fff;
    display: block;
}

/********** Second section **********/

.section_two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    margin-top: 30px;
    padding: 0px 160px;
}

.info_section_two{
    margin-bottom: 50px 50px;
    padding-left: 160px;
}

.chico_rombo{
    max-width: 500px;
}

h2.tittle_section_two{
    font-size: 50px;
    margin-bottom: 20px;
    color: #002bff;
    justify-content: center;
}

p.text_section_two{
    font-size: 21px;
    color: #282828;
    display: inline-block;
}


/********** Third section **********/

#container{
    display: flex;
    justify-content: center;
    padding: 50px 180px ;
    
}


.main_container{
    align-items: center;
    padding: 10px 100px 0 ;
    margin-bottom: 30px;
    
}

h2.title_main_container{
    font-size: 40px;
    margin-bottom: 60px;
    color: #002bff;
    text-align: center;
    justify-content: center;
}

.imagen1{
    max-width: 500px;
    margin-top: 50px;
}

.first_container_text_left{
    display: flex;
    align-items: center;
}

.first_text_container{
    font-size: 30px;
    margin-bottom: 20px;
    color: #002bff;
    
}

.first_text_container span{
    font-size: 21px;
    color: #282828;
    text-decoration: none;
    font-weight: normal;
    line-height: normal;
    display: flex;
    flex-wrap: wrap;
    margin-right: 120px;
    
}


.imagen2{
    margin-top: 50px;
    max-width: 500px;
}

.second_text_container{
    font-size: 30px;
    margin-bottom: 20px;
    color: #002bff;
    margin-left: 100px;
    
}

.second_text_container span{
    font-size: 21px;
    color: #282828;
    text-decoration: none;
    font-weight: normal;
    line-height: normal;
    display: flex;
    flex-wrap: wrap;

}

/********** Fourth section **********/


.last_section{
    padding: 30px 407px ;
    
}

.section_four{
    text-align: center;
    font-size: 25px;

}

.section_fifth {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    color: #002bff;  
}


/********** Form **********/

#contact_us{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px 30px;

}

h2.title{
    color: #002bff;
    display: flex;
    justify-content: center;
}

.form{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    padding: 30px 30px;
    background-color: #f7f8f9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gainsboro ;
}

.input{
    background: white;
    border: 0;
    outline: none;
    border: 1px solid gray;
    padding: 20px 50px;
}

.input::placeholder{
    color: #7082a2;

}

form input[type="text"],
form input[type="email"],
form input[type="number"]{
	width:400px;
	padding:20px 20px;
	border:1px solid #f6f6f6;
	border-radius:5px;
	background-color:#ffffff;
	margin:8px 0;
	display:inline-block;
}


form input[type="submit"]{
	padding:8px 16px;
	margin-top:32px;
	border:1px solid ;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#002bff;
} 

form input[type="submit"]:hover{
	cursor:pointer;
    background: black ;
}

